body {
    background-color: black;
    width: 100%;
    align-items: center;
}

header {
    text-align: center;
}
footer {
    text-align: center;
}

h1 {
    font-family: verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

h2 {
    font-family: verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}

h3 {
    font-family: verdana;
    font-size: 21px;
    color: Gray;
    text-align: center;
}

h4 {
    text-align: right;
    color: gray;
    padding-right: 30px;
}
a {
    color: aquamarine;
    font-size: 16px;
}

.phoneVideo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.campImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px; 
}

.phoneImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

